/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


h1 {
  background-color: rgb(84, 149, 206);
}



.event-details-page {
  text-align: center;
}

.event-img {
  margin: 10px auto;
  height: 700px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(to bottom, goldenrod, rgba(218, 165, 32, 0.141));
}

.event-img img {
  width: 100%;
  height: 100%;
  border-top: goldenrod solid 7px;
}

